<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    p {
      color: red;
      font-size: 20px;
      font-family: Arial;
      background-color: Azure;
      text-align: center;
    }
  </style>
  <meta charset="UTF-8">
  <title>assignment5b</title>
</head>
<body>
  <h1>assignmentcss</h1>
  <p>Hello world!</p>
</body>
</html>
